Search: {{input value=filter key-up=(action 'autoComplete' filter)}}

{{#if hasBlock}}
  {{yield}}
{{else}}
  <ul>
    {{#each filteredList as |item|}}
      <li>
        {{link-to item.name modelName item}}
      </li>
    {{/each}}
  </ul>
{{/if}}
