{{paper-input label="Search" value=filter onChange=(action 'autoComplete' filter) icon="search"}}

{{#if hasBlock}}
  {{yield}}
{{else}}
  <ul>
    {{#each filteredList as |item|}}
      <li>
        {{link-to item.name modelName item}}
      </li>
    {{/each}}
  </ul>
{{/if}}
