Search: {{input value=filter key-up=(action 'autoComplete' filter)}}

<ul>
  {{#each filteredList as |item|}}
    <li>
      {{link-to item.name 'course' item}}
    </li>
  {{/each}}
</ul>

{{yield}}
