{{#link-to 'round' round tagName='div'}}
  {{#paper-item class="md-3-line" as |controls|}}
    {{paper-icon roundIcon class="md-avatar-icon"}}
    <div class="md-list-item-text">
      <h3>{{round.course.name}}</h3>
      <h4>{{moment-format round.createdAt 'MM/DD/YYYY'}}</h4>
      <p>With 3 others</p>
    </div>
    <div style="text-align: right;">
      <h2>{{round.score}}</h2>
    </div>
  {{/paper-item}}
{{/link-to}}
