@import 'variables';
@import 'ember-paper';

@import 'nav';
@import 'rounds';
@import 'par-statuses';
@import 'round-form';

html, body {
  height: 100%;
}

.primary {
  background-color: $primary;
  color: $primaryText;
}

.primary-light {
  background-color: $primaryLight;
  color: $primaryText;
}

md-toolbar.md-default-theme.primary-dark {
  background-color: $primaryDark;
  color: $accentText;
}

.accent {
  background-color: $accent;
  color: $accentText;
}

.accent-light {
  background-color: $accentLight;
  color: $accentText;
}

.accent-dark {
  background-color: $accentDark;
  color: $accentText;
}

.padding-bottom--xl {
  padding-bottom: 75px;
}

.content {
  display: flex;
  height: 100%;
}

.container {
  height: 100%;
}
