.par-status {
  margin: auto;
  width: 1.5em;
  border: 1px solid;
  line-height: 150%;

  &.par-scorekeeper {
    padding: 0.25em;
  }

  &.below-par {
    border-radius: 50%;
    border-color: #04B45F;
  }

  &.multiple-below-par {
    border-radius: 50%;
    border-color: $belowPar !important;
    border: 2px solid;
  }

  &.at-par {
    border-color: transparent;
  }

  &.above-par {
    border-color: #FA5858;
  }

  &.multiple-above-par {
    border-color: #FA5858 !important;
    border: 2px solid;
  }
}
