table {
  margin-bottom: 8px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-radius: 2px;
  overflow: hidden;
}

.table-wrapper {
  flex: 1;
  overflow: auto;
}

td, th {
  padding: 12px 16px;
  text-align: left;
}

td {
  vertical-align: top;
}

tr:nth-child(odd) td {
  background-color: lighten(color($primary, '50'), 2);
}

tr:nth-child(even) td {
  background-color: lighten(color($primary, '50'), 4);
}

th {
  background-color: color($primary, '400');
  color: white;
}

tr.subheading td {
  background-color: color($primary, '100');
}

.scorecards-table {
  td, th {
    text-align: center;
  }
}
