$primary: 'blue-grey';
$primaryLight: #c1d5e0;
$primaryDark: #62757f;
$accent: 'red';
$accentLight: #ff7961;
$accentDark: #ba000d;
$primaryText: #000000;
$accentText: #fafafa;

$belowPar: #04B45F;
$par: #000000;
$abovePar:  #ba000d;
