$primary: 'blue-grey';
$primaryLight: #c1d5e0;
$primaryDark: #62757f;
$accent: 'red';
$accentLight: #ff7961;
$accentDark: #ba000d;
$primaryText: 'black';
$accentText: 'white';
$accentTextDark: #c2c2c2;

$belowPar: #04B45F;
$par: #000000;
$abovePar:  #ba000d;
