{{#paper-toolbar class='primary-dark'}}
  {{#paper-toolbar-tools}}
    <h2>Frolfr</h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-content class='padding-bottom--xl'}}
  {{liquid-outlet class='md-padding'}}
  <div class='nav-fab'>
    {{#link-to 'rounds.new'}}
      {{#paper-button fab=true classNames='accent'}}{{paper-icon 'add' size='36'}}{{/paper-button}}
    {{/link-to}}
  </div>
{{/paper-content}}

<div class='nav-footer'>
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#link-to 'courses'}}
        {{#paper-button}}Courses{{/paper-button}}
      {{/link-to}}
      {{#link-to 'users'}}
        {{#paper-button}}Users{{/paper-button}}
      {{/link-to}}
      {{#link-to 'rounds.index'}}
        {{#paper-button}}Rounds{{/paper-button}}
      {{/link-to}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
</div>
